openapi: 3.1.0
info:
  title: Reverb Accounts Shipping API
  version: 1.0.0
  description: 'Reverb is a marketplace for new, used, and vintage musical instruments and gear

    (owned by Etsy). The Reverb API is a HATEOAS hypermedia REST API that responds

    with application/hal+json. Clients should generally follow links in the

    `_links` element of responses rather than hard-coding URL structures. This

    specification documents the publicly discoverable root resources advertised at

    https://reverb.com/api together with the authentication token endpoint.

    '
  contact:
    name: Reverb API
    url: https://reverb.com/page/api
  license:
    name: Proprietary
servers:
- url: https://reverb.com
  description: Reverb production API host
security:
- XAuthToken: []
tags:
- name: Shipping
paths:
  /api/shipping/regions:
    get:
      summary: Shipping regions metadata
      operationId: shippingRegions
      security: []
      responses:
        '200':
          description: HAL collection of shipping regions
      tags:
      - Shipping
  /api/shipping/providers:
    get:
      summary: Shipping providers metadata
      operationId: shippingProviders
      security: []
      responses:
        '200':
          description: HAL collection of shipping providers
      tags:
      - Shipping
components:
  securitySchemes:
    XAuthToken:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: 'Token returned by POST /api/auth/tokens, supplied on subsequent calls in

        the `X-Auth-Token` request header.

        '
